<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <h:outputStylesheet>
            th, td {
                text-align: center;
            }

            h3 {
                margin-top: 0;
                text-align: center;
            }

            input[type="text"] {
                width: 100%;
                box-sizing: border-box;
                -webkit-box-sizing:border-box;
                -moz-box-sizing: border-box;
            }

        </h:outputStylesheet>
    </h:head>
    <h:body>
        <p:outputPanel>
            <h3>Customer Overviewzzz</h3>
            <div class="ui-g">
                <div class="ui-g-2"/>
                <div class="ui-g-8">
                    <h:form id="customers">
                         <p:growl id="growl" sticky="true" />

                        <p:dataTable id="customerList" var="customer" value="#{customersBacking.customers}">
                            <p:column headerText="Id">
                                <h:outputText value="#{customer.id}"/>
                            </p:column>

                            <p:column headerText="First name">
                                <p:inputText id="firstNameInput" value="#{customer.firstName}"/>
                            </p:column>

                            <p:column headerText="Last name">
                                <p:inputText id="lastNameInput" value="#{customer.lastName}"/>
                            </p:column>

                            <p:column headerText="Email">
                                <p:inputText id="emailInput" value="#{customer.email}"/>
                            </p:column>

                            <p:column headerText="Day of birth">
                                <h:outputText value="#{customer.dayOfBirth}">
                                    <f:convertDateTime type="localDate" pattern="dd.MM.yyyy"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Customer ID">
                                <h:outputText value="#{customer.customerId}"/>
                            </p:column>

                            <p:column>
                                <p:commandButton update="customerList" value="Delete" icon="ui-icon-closethick"
                                                 action="#{customersBacking.delete(customer)}"
                                                 styleClass="ui-priority-primary">
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <p:commandButton style="float: right" id="save" value="Save" tyleClass="ui-priority-primary"
                                         action="#{customersBacking.update}" icon="ui-icon-disk" update="growl">
                            <f:ajax execute="@form" render="@form"/>
                        </p:commandButton>
                    </h:form>
                </div>
                <div class="ui-g-2">
                </div>
            </div>
            <h3>Create a new customer</h3>
            <div class="ui-g">
                <div class="ui-g-2">
                </div>
                <div class="ui-g-8">
                    <h:form id="add">
                        <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto;">
                            <p:outputLabel for="firstName" value="First name"/>
                            <p:inputText id="firstName" value="#{customersBacking.customer.firstName}"/>
                            <p:message for="firstName"/>

                            <p:outputLabel for="lastName" value="Last name"/>
                            <p:inputText id="lastName"
                                         value="#{customersBacking.customer.lastName}">
                            </p:inputText>
                            <p:message for="lastName"/>

                            <p:outputLabel for="email" value="E-Mail"/>
                            <p:inputText id="email"
                                         value="#{customersBacking.customer.email}">
                            </p:inputText>
                            <p:message for="email"/>

                            <p:outputLabel for="dayOfBirth" value="Day of birth"/>
                            <p:calendar id="dayOfBirth"
                                        value="#{customersBacking.customer.dayOfBirth}" pattern="dd.MM.yyyy"
                                        mask="true">
                                <f:convertDateTime type="localDate" pattern="dd.MM.yyyy"/>
                            </p:calendar>
                            <p:message for="dayOfBirth"/>

                            <p:commandButton update="@form :customers:customerList" value="Add"
                                             action="#{customersBacking.add}">
                            </p:commandButton>
                        </h:panelGrid>
                    </h:form>
                </div>
                <div class="ui-g-2">
                </div>
            </div>
        </p:outputPanel>
    </h:body>
</f:view>
</html>

